body{
    background-color: rgb(238, 147, 104);
        margin: 2px 2px 0 2px;
 
}

.banner {
    margin: auto;
    margin-top:1px;
    padding-top: 1px;
    background-image: url('./imagens/hamburgueres/hamburguer.png');
    background-size: cover;     
    background-position:right center; 
    background-repeat: no-repeat;
    text-align: center;
    height: 150px;
    width: 100%;
   
}

.menu ul{
    text-align: right;

}

.menu a {
    color: rgb(35, 3, 85);
    text-decoration: none;
    font-size: .9rem;
    font-weight: bold
}

.menu ul a:hover {
    background-color: rgb(9, 175, 23);
        
 }

 
.menu li {
    padding: .75em 1.15em;
    margin-top: .1rem;
    margin-right: 15px;
    gap: .6rem;
    display: inline-block;
    font-size: 12px;
    font-family: 'Kranky', serif;
    border: solid 2px;
         
 }

 
.title {
    color: rgb(15, 1, 1);
    font-family: 'Kranky', serif;
    font-size: 4rem;
    text-align: center;
    padding-top: .1rem;
    padding-bottom: .1rem;
    margin: auto;

}
 
.slogan {
    color: rgb(122, 22, 22);
    font-family: 'Kranky', serif;
    text-align: center;
    font-size: 1.5rem;
    padding-top: .1rem;
    margin:auto;
}
     
.head {
    color: rgb(122, 22, 22);
    text-align: justify;
    text-align: center;
}
    
    
head nav ul{
    display: block;
}


h1 {
    color: rgb(145, 76, 20);
    font-family:rgb(2, 49, 5)ligraphy;
    font-size: 54px;
    text-align: center;
       
}


h2 {
    color: black;
    font-family: Comic Sans MS;
    font-size: 20px;
    font-style: normal;
    text-align: left;
    letter-spacing: 1px;
    margin-left: 2px;


}


.section{
    display: flex;
    

}


article {
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
   

}

.imagem {
    width: 300px;
    height: 250px;
    outline: 6px solid rgb(49, 9, 124);
    align-items: center;
   
}

.descrição{
    text-align: center;
    color: rgb(84, 9, 114);
}


h3 {
    text-align: reight;
    color: rgb(87, 81, 7);
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2px;
    font-size: 16px;
    margin-top: 3rem;

    
}


p{
    text-align: center;
    margin-left: 16px;

   
}


.comprando {
    background-color: #adacacc2;
    color: black;
    padding: 12px 16px;
    align-items: center;
    width: fit-content;
    letter-spacing: 1px;
    text-decoration: none;


} 

a:hover {
    background-color: rgba(0, 0, 0, .5);

}

.endereço {
    color:rgb(43, 38, 38);
    text-align: center;
    font-size: medium;
    margin-bottom: 16px;

}
.rodapé {
    color: rgb(36, 3, 19);
    text-align: center;
    padding-top: .15rem;
    padding-bottom: .15rem;
    text-shadow: 6px 6px 6px rgb(78, 5, 42);
    letter-spacing: 6px;
    margin-bottom: 0;
    font-size: 11px;

}

